<div class="item">
    <div>Avatar URL</div>
        <div>
            <input type="url" name="avatar_url" placeholder="http://..." value="{{ aluno.avatar_url }}">
        </div>        
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name="name" placeholder="Nome do aluno..." value="{{ aluno.name }}">
    </div>        
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input type="email" name="email" placeholder="E-mail..." value="{{ aluno.email }}">
    </div>        
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ aluno.birth }}">
    </div>        
</div>

<div class="item">
    <div>Ano Escolar</div>
    <div>
        <select name="escola" id="">
            <option value="5º Funamental">5º Funamental</option>
            <option value="6º Funamental">6º Funamental</option>
            <option value="7º Funamental">7º Funamental</option>
            <option value="8º Funamental">8º Funamental</option>
            <option value="9º Funamental">9º Funamental</option>
            <option value="1º Ensino Médio">1º Ensino Médio</option>
            <option value="2º Ensino Médio">2º Ensino Médio</option>
            <option value="3º Ensino Médio">3º Ensino Médio</select>
     </div>        
</div>

<div class="item">
    <div>Carga Horária (h)</div>
    <div>
        <input type="number" name="ch" placeholder="Informe a Carga Horária semanal..." value="{{ aluno.ch }}">
    </div>        
</div>

<div class="item">
    <div>Estuda com</div>
    <div>
        <select name="professor">
            {% for professor in professorOptions %}
                <option value="{{professor.id}}" {% if students.professor_id == professor.id %}selected{% endif %}>
                    {{professor.name}}
                </option>
            {% endfor %}
        </select>
    </div>        
</div>

<button type="submit">Salvar</button>
