@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-blue-light: steelblue;
    --color-branco-bege: #d2dbaa;
    --color-orange: #F25116;
    --color-green-light: rgb(185, 255, 128);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;    
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.topo {
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
}

.topo h1 {
    padding: 4px 5px;
    color: steelblue;
    font-size: 20px;
}

.topo img {
    width: 800px;
    max-width: 13%;
    margin: 0px 15px 0px 15px;
}

.menu-form {
    display: flex;
    align-items: center;
    margin: 0;
}

.menu-form form {
    display: flex;
    align-items: center;
}

.menu-form select {
    width: 120px;
    height: 29px;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    box-shadow: #000000 1px 2px 3px 1px;
}

.menu-form input {
    border: 0px solid #000000;
    font-size: 16px;
    margin: 2px 10px;
    padding: 2px 10px 2px 5px;
    width: 300px;
    height: 23px;
    box-shadow: #000000 1px 2px 3px 1px;
}

.topo .menu-form button {
    width: 104px;
    margin: 0 20px 0 0px;
    font-weight: 100;
    font-size: 14px;
    padding: 8px 0px 8px 0;
}

.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
}

.menu {
    width: 10%;
    height: 100%;
    max-height: 100%;
    margin: 5px 5px;
    border: black 1px solide;
    box-shadow: grey 1px 2px 15px 1px;
    font-weight: bold;
}

.conteudo {
    width: 90%;
    background-color: var(--color-orange);
    margin: 5px 0px 0px 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.menu div {
    padding: 5px 0px 5px 10px;
    margin: 10px 0;
}

/* PAGE HOME */

.menu div a {
    color: var(--color-blue-light);
    text-decoration: none;
    cursor: pointer;
}

.menu div a:hover {
    transition: 450ms;
    color: red;
}

.menu div a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
}

.menu div a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-blue-light);
}

.push {
    height: 30px;
}

#rodape {
    background-color: var(--color-blue-light);
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;
}

.coluna-rodape h2 {
    font-size: 16px;
    margin: 0 0 -10px 0;
}

.coluna-rodape a {
    font-size: 14px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    margin: 3px 0 0 0;
}

.coluna-rodape ul {
    list-style: none;
}

.coluna-rodape li {
    display: flex;
    align-items: center;
    margin: 2px auto;
}

.coluna-rodape img {
    width: 22px;
    background-color: white;
    margin: 0px 3px 2px 0;
    padding: 2px;
    border-radius: 3px;
}

#formulario div {
    margin: 2px 0;
}

#formulario label {
    font-size: 14px;
    font-weight: 100;
    margin: 3px auto;
}

#formulario input {
    width: 100%;
    height: 20px;
}

textarea {
    width: 100%;
    margin: 5px 0px;
    resize: none;
    font-size: 14px;
    font-family: roboto;
    outline: none;
    padding: 0px; 
}

#formulario button {
    background-color: var(--color-orange);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 6px;
}

.home-start {
    text-align: center;
    margin: 10px 10px;
    border: 17px solid #000000;
    padding: 10px 10px;
    background-color: white;
    box-shadow: grey 9px 3px 8px 2px;
}

.home-start div img {
    width: 550px;
}

.card-home {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    
    /* ANIMAÇÃO */
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
    animation-play-state: running;
    animation-direction: normal;
}

/* CARD PROFESSORES */

.card {
    background-color: white;    
    width: 800px;
    min-height: 400px;
    margin: 30px 0 15px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    
    /* ANIMAÇÃO */
    animation-name: up;
    animation-duration: 700ms;
}

.card table {
    color: black;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.details {
    color: black;
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px 0;
}

/* Pega apenas o último item ou elemento ':last-child' */
.details .item:last-child { 
    border: none;
}

/* Pega o primeiro item ou elemento */
.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7;
    font-weight: normal;
}

/* Pega o segundo item ou elemento */
.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-blue-light);
    font-size: 22px;
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--color-green-light);
    border-radius: 16px;
    color: #777;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 4px;
    
    margin-top: 8px;
    display: inline-block;
}

/* FORM */
select,
.details .item input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details .item input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

.details .item input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--color-blue-light);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    background-color: red;
    margin-top: 8px;
}

/* INDEX PROFESSORES */
.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    margin: 20px 0 0 0;
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
} 

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 4px wheat;
    border: 2px solid var(--color-orange);
}

.table-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tbody tr td:last-child a,
#buscaAluno,
.table-container > div a {
    background-color: var(--color-blue-light);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 6px;
}

#buscaAluno {
    margin: 0;
    width: 100px;
}

.table-container > div a {
    display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

.table-container thead tr,
td:nth-child(3) {
    text-align: center;
}

/* PAGINAÇÃO */

.pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 16px;
}

.paginationActive {
    background-color: white;
    color: var(--color-blue-light);
    padding: 5px;
    border-radius: 5px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}
