{% extends "layout/layout.njk" %}

{% block content %}

<div class="card" >

    <section 
        class="avatar" 
        style="background: url({{professor.avatar_url}}) no-repeat center center / cover">
    </section>

    <section class="details">
        <form method="POST" action="/professores?_method=PUT">

                <h3>Editar Professor</h3>

                {% include 'professores/fields.njk' %}

                <input type="hidden" name="id" value="{{ professor.id }}">

        </form>

            <form id="form-delete" action="/professores?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{ professor.id }}">
                <button type="submit">Deletar</button>
            </form>

            <script>
                const formDelete = document.querySelector("#form-delete");
                formDelete.addEventListener("submit", function(event) {
                    const confirmation = confirm("Deseja deletar este usuário?");
                    if (!confirmation) {
                        event.preventDefault();
                    }
                });
            </script>

    </section>
    
</div>

{% endblock %}