{% extends "layout.njk" %}

{% block content %}

<div class="home-start">
{# class="card-home" #}
    <div>
        <img src="/logo.png" alt="">
    </div>
    <div>
        <h3>TESTE</h3>
    </div>

</div>


{% endblock %}