<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        
        {% block head %}
        
        <title>O Cursinho</title>
        
        {% endblock %}

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <section class="topo">

            <div>
                <img src="/logo.png" alt="Logo">
            </div>
            
            <div class="menu-form">
                <form action="/professores" method="GET">
                    <input 
                        type="text" 
                        name="filterMaster"
                        placeholder="Pesquisar professor por curso..."
                        value={{filterMaster}}
                    >
                    <button type="submit">Buscar</button>
                </form>
            </div>
            
        </section>

        <div class="container">            
            <section class="menu">
                
                <div>
                    <a href="/home">Home</a>
                </div>
                <div>
                    <a href="/professores">Professores</a>
                </div>
                <div>
                    <a href="/alunos">Alunos</a>
                </div>
                <div>
                    <a href="/provas">Provas</a>
                </div>
                <div>
                    <a href="/Adm">Redes Sociais</a>
                </div>
                <div>
                    <a href="/sobre">Sobre</a>
                </div>
                                
            </section>

            <section class="conteudo">

                {% block content %}{% endblock %}

            </section>            
        </div>

        <div id="rodape">

        <div class="coluna-rodape">
            <h2>MAPA DO SITE</h2>
            <p>_____________________________________</p>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/professores">Professores</a></li>
                <li><a href="/alunos">Alunos</a></li>
                <li><a href="/provas">Provas</a></li>
                <li><a href="/adm">Adm</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </div>

        <div class="coluna-rodape">
            <h2>REDES SOCIAIS</h2>
            <p>_____________________________________</p>
            <ul>
                <li><img src="https://www.flaticon.com/premium-icon/icons/svg/2335/2335422.svg" alt=""><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
                <li><img src="https://image.flaticon.com/icons/svg/725/725372.svg" alt=""><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
                <li><img src="https://image.flaticon.com/icons/svg/725/725350.svg" alt=""><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                <li><img src="https://image.flaticon.com/icons/svg/1383/1383336.svg" alt=""><a href="https://www.facebook.com" target="_blank">WhatsApp</a></li>
            </ul>
        </div>

        <div class="coluna-rodape">
            <h2>CONTATO</h2>
            <p>_____________________________________</p>
            <form id=formulario>

                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="email" class="form-control" id="nome" placeholder="Digite aqui seu nome...">
                </div>
        
                <div class="form-group">
                    <label for="inputEmail">E-mail</label>
                    <input type="email" class="form-control" id="nome" placeholder="Digite aqui seu E-mail...">
                </div>
        
                <div class="form-group">
                    <label for="msgTextArea">Mensagem</label>
                    <textarea class="form-control" id="mensagem" rows="4" placeholder="Digite aqui sua mensagem..."></textarea>
                </div>

            <button>Enviar</button>
    
        </form>
        </div>

        

    </div>

    <script src="/scripts.js"></script>

    </body>
</html>