{% extends "layout/layout.njk" %}

{% block content %}

<div class="home-start">
    <div>
        <img src="/logo.png" alt="">
    </div>
    <div>
        <h3>TESTE</h3>
    </div>
</div>

{% endblock %}